extends ../layout/index

block styles 
	link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block content
	div
		div(class="py-2")
		h1(class="text-4xl my-10 text-center font-extrabold") Event
			span(class="font-normal") Finder
		h2(class="text-center font-extrabold text-2xl")= titlePage

		div(class="bg-white shadow py-5 px-4 rounded mx-auto max-w-4xl my-10 md:px-10")
			form(class="space-y-8")
				div(class="space-y-5")
					h3(class="text-lg leading-6 font-medium text-gray-900") Información General 
					p(class="text-gray-600") Añade información sobre el evento

					div
						label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="title") Titulo del evento
						input#title(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Titulo Evento" type="text" name="title")
					
					div
						label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="description") Descripción
						textarea#description(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Descripción Evento" name="description")

					div(class="md:flex md:gap-4 space-y-5 md:space-y-0")
						div(class="md:w-1/2")
							label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="category") Categoria
							select#category(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" name="category")
								option(value="") - Seleccione -
								each category in categories 	
									option(value="category.id")= category.name
						div(class="md:w-1/2")
							label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="price") Precio
							input#price(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Precio" type="number" min=0 name="price")
					
					div(class="md:flex md:gap-4 space-y-5 md:space-y-0")
						div(class="md:w-1/2")
							label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="eventDate") Fecha
							input#eventDate(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Fecha del evento" type="text" name="eventDate")
						div(class="md:w-1/2")
							label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="eventTime") Hora
							input#eventTime(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Hora del evento" type="text" name="eventTime")

					//- Agregar un buscador, cuando no encuentre el participante, que deje agregarlo. de esta forma no se pierde la integridad de la información
					div
						label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="participants") Participantes
						input#participants(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Participantes" type="text" name="participants")

				div(class="border-gray-200 border-t pt-5 space-y-5")
					h3(class="text-lg leading-6 font-medium text-gray-900") Ubicación
					p(class="text-gray-600") Ubica el evento en el mapa

					div 	
						p.street

					input(type="hidden" name="street" id="street")
					input(type="hidden" name="lat" id="lat")
					input(type="hidden" name="lng" id="lng")

				#map(class="h-96")

block scripts
	script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
	script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
	script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
	script(src="/js/map.js")
