extends ../layout/index

block content
	div
		div(class="py-2")
		h1(class="text-4xl my-2 text-center font-extrabold") Event
			span(class="font-normal") Finder
		h2(class="text-center font-extrabold text-3xl")= titlePage

		div(class="mt-8 mx-auto max-w-md")
			div(class="bg-white py-8 px-4 shadow")
				form(class="space-y-5")
					div
						label(class="block text-sm uppercase text-gray-500 mb-2 font-bold" for="email") Email
						input#email(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Email" type="text" name="email")

					div(class="flex items-center justify-between")
						a(class="text-gray-500 text-xs hover:text-gray-700 transition-colors" href="/api/auth/register") ¿No tienes cuenta? Registrate 
						a(class="text-gray-500 text-xs hover:text-gray-700 transition-colors" href="/api/auth/login") ¿Ya tienes cuenta? Inicia Sesión 

					input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer transition-colors" type="submit" value="Recuperar contraseña")
